// tests.scss

.list-item {
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
    list-style-type: none;
}
.list-item.ng-enter-stagger, .list-item.ng-leave-stagger, .repeat-animation.ng-move-stagger {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transition-duration: 0;
    transition-duration: 0;
}
.list-item.ng-enter {
    -webkit-transition:0.2s linear all;
    transition:0.2s linear all;
    opacity: 0;
    -webkit-transform:scale(1.15)!important;
    transform:scale(1.15)!important;
}
.list-item.ng-enter.ng-enter-active {
    opacity: 1;
    -webkit-transform:scale(1)!important;
    transform:scale(1)!important;
}
.list-item.ng-leave {
    -webkit-transition:0.1s linear all;
    transition:0.1s linear all;
    opacity: 1;
}
.list-item.ng-leave.ng-leave-active {
    opacity: 0;
}